:root {
  --primary-color: #ee6e73;
  --secondary-color: rgba(0, 0, 0, 0.5);
  --third-color: rgba(0, 0, 0, 0.826);
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Inconsolata", monospace;
  --text-decoration: none;
  --primary-size: 13px;
  --primary-transition: all 0.5s ease;
  --secondary-transition: 0.3s ease-out;
}
